


/* navigatable button page top */
.buttons-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-is-active{
  background-color: #f5a540 !important;
  color: white !important;
}
.buttons-row > a > .button{
  font-family: 'Baloo Thambi 2', cursive;
  width: 10rem !important;
  color: black;
  background-color: transparent;
  border: 1px solid #f5a540;
}  

.left-radius{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.right-radius{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.idle:hover{
  background-color: #f5a540 !important;
  color: white !important;
}