/* Toggle in lable*/
.toggle{ 
    position : relative ; 
    display : inline-block; 
    width : 100px; 
    height : 52px; 
    background-color: white; 
    border-radius: 30px; 
    border: 2px solid gray; 
}
/* After slide changes */ 
.toggle:after { 
    content: ''; 
    position: absolute; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: orange; 
    top: 1px;  
    left: 1px; 
    transition:  all 0.5s;
}
/* Toggle text */ 
p { 
    font-family:'Baloo Thambi 2'; 
    font-weight: bold;
} 
        
/* Checkbox cheked effect */ 
.checkbox:checked + .toggle::after { 
    left : 50px; 
    
} 
        
/* Checkbox cheked toggle label bg color */ 
.checkbox:checked + .toggle { 
    background-color: white; 
} 
        
/* Checkbox vanished */ 
.checkbox {  
    display : none; 
}
/*Table*/ 
table{
    width: 100% !important;
    border: 1px solid black;
  }
table th{
  background-color: #f5a540;
  }
@media (max-width:700px){
  table, thead, tbody, td, tr {
		display: block;
		background-color: white;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { border: 1px solid #000;  }
	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		margin-left: 100px;
	}
	td:before {
		position: absolute;
		left: 6px;
		width: 200px;
		padding-right: 40px;
		white-space: nowrap;
		margin-left: -150px;
	}
	td:nth-of-type(1):before { content: "ID";}
  td:nth-of-type(2):before { content: "Customer"; }
  td:nth-of-type(3):before { content: "Items"; }
  td:nth-of-type(4):before { content: "Price"; }
	td:nth-of-type(5):before { content: "Address"; }
	td:nth-of-type(6):before { content: "Status"; }
}

/* Navbar */
@media (max-width:480px){
    .nav-logout{
        text-align: center !important;
    }
    
}
