/* Navbar */
body{
	margin: 0;
}
.navbar{
	margin-left: 1rem;
	margin-right: 1rem;
}
.nav-buttons{
	text-align: right !important;
}
@media only screen and (max-width: 480px) {
    .nav-buttons{
        text-align: center !important;
    }
}
.banner-text{
	align-self: center !important;
	height: 100%;
}
strong{
	color: #f5a540 !important
}
.about-text{
	align-self: center;
	height: 100%;
}
.footer{
	background-color: #f5a540;
}
.footer-ul{
	list-style-type: none;
	margin-block-start: 0;
	padding-inline-start: 0;
}
