/* Tabs */

.tabs {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 1rem;
  padding-bottom: 80px;
  width: 90%;
  box-shadow: 4px 6px 25px -8px rgba(0,0,0,0.75);
  border-radius: 15px;
  min-width: 240px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content-1 section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: #f5a540;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs a{
  color:#929daf;
  text-decoration: none;
}
.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label i{
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover i,
.tabs ul li label:focus i,
.tabs ul li label:active i {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 50%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #f5a540;
  border-radius: 1px;
}
.tabs .content-1 {
  margin-top: 30px;
}
.tabs .content-1 section {
  display: none;
  -webkit-animation-name: content-1;
  animation-name: content-1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  /* -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s; */
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content-1 .asign-order-status{
    color:rgb(206, 151, 79);
}
.tabs .content-1 section h2 {
  color: #f5a540;
  display: none;
}
.tabs .content-1 section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 80%;
  height: 3px;
  background: #f5a540;
  margin-top: 5px;
  left: 10%;
  right: 10%;
  
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #f5a540;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  i {
  fill: #f5a540;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content-1
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #f5a540;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  i {
  fill: #f5a540;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content-1
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #f5a540;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  i {
  fill: #f5a540;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content-1
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #f5a540;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  i {
  fill: #f5a540;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content-1
  > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content-1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes content-1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label i {
    height: 1.5em;
  }
  .tabs ul li label i{
    margin-right: 0 !important;
}
}
@media (max-width: 710px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content-1 {
    margin-top: 20px;
  }
  .tabs .content-1 section h2 {
    display: block;
  }
}



/* Navbar */
@media (max-width: 480px) {
    .nav-logout{
        text-align: center !important;
    }
}


/* .nav .nav-menu{
  justify-content-1: space-between;
} */
.nav .nav-items{
  display:flex;
  margin:0;
}
.nav .nav-items .nav-link{
  padding: 0.5rem 2.5rem;
  font-size:2.1rem;
  position: relative;
  font-size:1.1rem;
}
.nav .nav-items .nav-link a{
  text-decoration: none;
  color:black;
}
.nav .nav-items .nav-link:hover{
  background-color: #f5a540;
  border-radius: 10px;
}
.nav .nav-items .nav-link:hover a{
 color:white;
}
.nav li {
  list-style-type: none;
  position: relative;    /* It's needed for setting position to absolute in the next rule. */
}

.nav li::before {
  content: '■';
  position: absolute;
  left: -0.8em;          /* Adjust this value so that it appears where you want. */
  font-size: 1.5  em;      /* Adjust this value so that it appears what size you want. */
}


/* Menu Cards */
.menu-cards{
    margin: 0 -5px;
}
.menu-cards:after{
    content: "";
    display: table;
    clear: both;
}
.menu-card{
    display: inline-block;
    width: 200px;
    box-shadow: 4px 6px 25px -8px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;
    cursor: pointer;
    overflow: auto;
}
.menu-card img{
    width: 80px;
}
.menu-card .menu-card-visibility{
  display:none;

}
.menu-card .color-accept{
  color:rgb(202, 112, 38);
}
.menu-card .color-assign{
  color:#123f5a;
}
.menu-card .color-prepare{
  color:#48c774;
}



/* Order Summery */
.order-summery{
    border-radius: 15px;
    box-shadow: 4px 6px 25px -8px rgba(0,0,0,0.75);
}

/* Added Menu Items */
.order-selected-item{
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-selected-row-delete i:hover{
  color: #f5a540 !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.order-selected-item img{
    width: 50px;
}
.order-selected-row{
    width: 100%;
}
.order-selected-row-delete{
    width: 6.866%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.order-selected-row-image{
    width: 23.8%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.order-selected-row-description{
    width: 40.73%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.order-selected-row-quantity{
    width: 23.8%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.menu-selected-row-description select{
  border-radius: 5px;
}

/* Total */
.total-box{
    border-bottom: 2px solid #f5a540;
    border-top: 2px solid #f5a540;
    width: 100%;
}
.title-col{
    width: 50%;
    display: inline-block;
}
.price-col{
    width: 50%;
    display: inline-block;
} 

/* ------------popup orders----------------------- */
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .pop-content {
  position:absolute;
  display:block;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:white;
  width:500px;
  /* height:370px; */
  z-index:1;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
  margin: 0 -5px;
  border-radius: 10px;
  resize: height;
  overflow: auto;

}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#f5a540;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  transform: 0.7s;
}
.close-btn:hover{
  transform: scale(1.2); 
  background:#b30f0f;
}

.popup.active .overlay {
  display:block;
}

.popup.active .pop-content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

#btnRiders {
  display: none;
}
#btnSteward {
  display: none;
}
#btnRiders {
  display: none;
}
#btnPrepared{
  display: none;
}
.resizebtn{
width:80%;
}
/* -----xx-------popup orders---------------xx-------- */


/* ------------popup delivery people----------------------- */
.popup .pop-content2 {
  position:absolute;
  display:block;
  top:30%;
  left:30%;
  /* transform:translate(-50%,-50%) scale(0); */
  background:white;
  width:500px;
  /* height:370px; */
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Baloo Thambi 2', cursive;
  margin: 0 -5px;
  border-radius: 10px;
  resize: height;
  overflow: auto;

}
.pop-content-update-riders {
  position:absolute;
  display:block;
  top:22%;
  left:2%;
  /* transform:translate(-50%,-50%) scale(0); */
  background:white;
  width:380px;
  /* height:370px; */
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Baloo Thambi 2', cursive;
  margin: 0 -5px;
  border-radius: 10px;
  resize: height;
  overflow: auto;
  

}
.placement-top{
  top:22%;
  left:32%;
}
.close-btn-update-riders {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#f5a540;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  transform: 0.7s;
}
.close-btn-update-riders:hover{
  transform: scale(1.2); 
  background:#b30f0f;
}

.popup.active .pop-content2 {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

           /*------------ dp cards --------------- */
.dp-card{
    display: inline-block;
    width: 295px;
    height: 50px;
    box-shadow: 4px 6px 25px -8px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding: 1rem;
    margin: 10px;
    align-self: center;
    cursor: pointer;
    transform: 0.7s;
}

.dp-card:hover{
  transform: scale(1.1); 
}

.rider-status{
  color:rgb(177, 16, 16);
}

          /*--------xx---- dp cards -------xx-------- */

/* -----xx-------popup delivery people---------------xx-------- */

/* ------------pop up order summery----------------------- */
.popup .pop-content3 {
  position:absolute;
  display:block;
  top:22%;
  right:2%;
  /* transform:translate(-50%,-50%) scale(0); */
  background:white;
  width:380px;
  /* height:370px; */
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Baloo Thambi 2', cursive;
  margin: 0 -5px;
  border-radius: 10px;
  resize: height;
  overflow: auto;

}

.popup.active .pop-content3 {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.asiggned-summery-card{
  display: inline-block;
  width: 295px;
  /* height: 380px; */
  overflow: auto;
  box-shadow: 4px 6px 25px -8px rgba(0,0,0,0.75);
  border-radius: 15px;
  padding: 1rem;
  margin: 10px;
  align-self: center;
  transform: 0.7s;
}
/* ------xx------pop up order summery------------XX----------- */


/* ------Zoom in/out for all POP UP buttons ------------*/

.zoom{
    transform: 0.7s;
}
.zoom:hover{
  transform: scale(1.3); 
}

/* ---xx---Zoom in/out for all pop close/button -----xx-------*/

/* ------Zoom in/out for all cards ------------*/
.card-zoom{
transform: 0.7s;
}
.card-zoom:hover{
transform: scale(1.1); 
}

/* ---xx---Zoom in/out for all cards -----xx-------*/




/* navigatable button page top */


.buttons-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-is-active{
  background-color: #f5a540 !important;
  color: white !important;
}
.buttons-row > a > .button{
  font-family: 'Baloo Thambi 2', cursive;
  width: 10rem !important;
  color: black;
  background-color: transparent;
  border: 1px solid #f5a540;
}  

.left-radius{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.right-radius{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.idle:hover{
  background-color: #f5a540 !important;
  color: white !important;
}

.click-btn{
  display:inline-block;
  background-color:white;
}
.availibity-btn{
  background-color: #0c440a;
}
.availibity-btn:hover{
  background-color: #f5a540 !important;
}
.hide-scrol-bar::-webkit-scrollbar {
  display: none;
}

