body{
	margin:0;
	padding:0;
	background-size:cover;
	background-position:center;
}

#btn{
	padding: 10px 25px;
	background-color: #ff4747;
	color:#5e0000;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
}
