@media (max-width:700px){
    table, thead, tbody, td, tr {
          display: block;
          background-color: white;
      }
      thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      tr { border: 1px solid #000;  }
      td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          margin-left: 100px;
      }
      td:before {
          position: absolute;
          left: 6px;
          width: 200px;
          padding-right: 40px;
          white-space: nowrap;
          margin-left: -150px;
      }
      td:nth-of-type(1):before { content: "Order ID";}
      td:nth-of-type(2):before { content: "Customer"; }
      td:nth-of-type(3):before { content: "Price"; }
      td:nth-of-type(4):before { content: "Table No"; }
      td:nth-of-type(5):before { content: "Status"; }
      /* td:nth-of-type(6):before { content: "Status"; } */
  }