body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
.link_list{
	
	list-style-type: none;
	background-color: #f6b319;
	margin-top: 0;
	margin-bottom:0;
	margin-left: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top:0%;
}


.nav_li{
	float:right;
}
.nav_li a{
  display: block;
  color: white;
  text-align: center;
  padding: 25px 26px;
  text-decoration: none;

}